<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.registration.mapper.MessagePushMapper">

    <resultMap id="BaseResultMap" type="com.henu.registration.model.entity.MessagePush">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="messageNoticeId" column="message_notice_id" />
            <result property="pushType" column="push_type" />
            <result property="pushStatus" column="push_status" />
            <result property="pushMessage" column="push_message" />
            <result property="pushTime" column="push_time" />
            <result property="retryCount" column="retry_count" />
            <result property="errorMessage" column="error_message" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,message_notice_id,push_type,push_status,push_message,
        push_time,retry_count,error_message,create_time,update_time
    </sql>
</mapper>
